@{
    ViewBag.Title = "Index";
}

<style>
    a {
        box-shadow: 2px 2px 2px #888888;
    }
</style>

<div style="margin-left: auto; margin-right: auto; text-align:center;">
    <a type="button" class="btn img-rounded" href="@Url.Action("PCPCommunication","Reports")"
       style="background-color: deepskyblue;" >PCP Communications</a>

    <a type="button" class="btn img-rounded" href="@Url.Action("PCPCommunication","Reports")"
       style="background-color: deepskyblue;">PCP Communications</a>

    <a type="button" class="btn img-rounded" href="@Url.Action("PCPCommunication","Reports")"
       style="background-color: deepskyblue;">PCP Communications</a>

    <a type="button" class="btn img-rounded" href="@Url.Action("PCPCommunication","Reports")"
       style="background-color: deepskyblue;">PCP Communications</a>

    <a type="button" class="btn img-rounded" href="@Url.Action("PCPCommunication","Reports")"
       style="background-color: deepskyblue;">PCP Communications</a>

    <a type="button" class="btn img-rounded" href="@Url.Action("PCPCommunication","Reports")"
       style="background-color: deepskyblue;">PCP Communications</a>

    <a type="button" class="btn img-rounded" href="@Url.Action("PCPCommunication","Reports")"
       style="background-color: deepskyblue;">PCP Communications</a>

    <a type="button" class="btn img-rounded" href="@Url.Action("PCPCommunication","Reports")"
       style="background-color: deepskyblue;">PCP Communications</a>

    <a type="button" class="btn img-rounded" href="@Url.Action("PCPCommunication","Reports")"
       style="background-color: deepskyblue;">PCP Communications</a>

    <a type="button" class="btn img-rounded" href="@Url.Action("PCPCommunication","Reports")"
       style="background-color: deepskyblue;">PCP Communications</a>
</div>